[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "pybind11>=2.6.0",
    "cmake>=3.15",
    "scikit-build-core>=0.3.0"
]
build-backend = "scikit_build_core.build"

[project]
name = "iobs_ngc"
version = "0.1.2"
description = "Python bindings for iobs_ngc"
requires-python = ">=3.6"
dependencies = []

[tool.scikit-build]
cmake.minimum-version = "3.15"